<h1>Login</h1>

<form action="/login" method="post">
  <input type="text" name="username" placehodler="username">
  <input type="password" name="password" placehodler="password">
  <button>Login</button>
</form>

<li><a href="/register">Sign Up</a></li>
